<h1>Our found pets</h1>
<ul>
  <% @pets.each do |pet| %>
    <li>
      <%= link_to pet.name, pet_path(pet) %> - Found on <%= pet.found_on %>
      <%= link_to "Delete this pet", pet_path(pet), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new pet", new_pet_path %>
